html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
  font: 16px "ArnoPro", Georgia, serif;
  color: #5b5b5b;
}

body>div {
  height: 100%;
}

body {
	background: url('./pictures/background.png');
}

@font-face {
  font-family: "ArnoProItalic";
  src: url(./fonts/arnopro-italic.eot);
  src: url(./fonts/arnopro-italic.eot?#iefix) format('embedded-opentype'),
    	 url(./fonts/arnopro-italic.woff2) format('woff2'),   
    	 url(./fonts/arnopro-italic.woff) format('woff'), 
  		 url(./fonts/ArnoPro-Italic.otf), 
  		 url(./fonts/arnopro-italic.svg#arno_proitalic) format('svg');
}

@font-face {
  font-family: "ArnoPro";
  src: url(./fonts/arno_pro-webfont.eot);
  src: url(./fonts/arno_pro-webfont.eot?#iefix) format('embedded-opentype'),
    	 url(./fonts/arno-pro.woff2) format('woff2'),
  		 url(./fonts/arno_pro-webfont.woff) format('woff'),  
  		 url(./fonts/ArnoPro.ttf),   		 
  		 url(./fonts/arno_pro-webfont.svg#arno_proregular) format('svg');
}

